<%= form_for good, html:{ class:"form-horizontal" }  do |f| %>
    <% if good.errors.any? %>
        <div id="error_explanation" class="alert alert-danger alert-dismissible" role="alert">
          <h2><%= pluralize(good.errors.count, "error") %> prohibited this good from being saved:</h2>

          <ul>
            <% good.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>


    <div class="form-group">
      <%= f.label :name, class:"col-xs-3 col-md-1" %>
      <%= content_tag(:div, class:"col-xs-8 col-md-4") do %>
          <%= f.text_field :name, class:"form-control", placeholder:"Name" %>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.label :description, class:"col-xs-3 col-md-1" %>
      <%= content_tag(:div, class:"col-xs-8 col-md-4") do %>
        <%= f.text_field :description, class:"form-control", placeholder:"Description" %>
      <% end %>

    </div>

    <div class="form-group">
      <%= f.label :season, class:"col-xs-3 col-md-1" %>
      <%= content_tag(:div, class:"col-xs-8 col-md-4") do %>
          <%= select_tag("good[season]", options_for_select([['Winter', 0], ['Spring', 1], ['Summer', 2], ['Autumn', 3]], good.season), class:"form-control") %>
      <% end %>

    </div>

    <div class="form-group">
      <%= f.label :image, class:"col-xs-3 col-md-1" %>
      <%= content_tag(:div, class:"col-xs-8 col-md-6") do %>
        <%= f.file_field :image %>
      <% end %>

    </div>

    <div class="form-group">
      <%= f.submit class:"btn btn-primary col-xs-4 col-xs-offset-4 col-md-1 col-md-offset-2" %>
    </div>
<% end %>
