<p id="notice"><%= notice %></p>

<h3 align="center">Goods</h3>

<div class="row">
    <%= form_tag({},:method => :get, class: 'season_selector col-xs-10 col-xs-offset-1  col-md-2 col-md-offset-0') do %>
        <%=select_tag( :season_id,
                       options_for_select(Good.seasons, @current_season),
                       include_blank: "All",
                       onchange: "this.form.submit();",
                       class:"form-control") %>
    <% end %>
</div>

<div class="row">
  <span>&nbsp;</span>
</div>
<% @goods.each do |good| %>
    <%= content_tag(:div, id:"good-#{good.id}") do%>
        <%= content_tag(:div, class:"col-xs-6 col-md-2 pull-left") do%>
            <%= content_tag(:div, class:"thumbnail") do%>
                <%= content_tag(:a, href: good_path(good)) do %>
                    <%= image_tag(good.image.url(:medium), class:"img-thumbnail") %>
                <%end%>
                <%= content_tag(:div, class:"caption") do%>
                    <%= content_tag(:h4, good.name) %>
                    <%= content_tag(:p, good.description) %>
                    <%= content_tag(:p) do %>
                        <%= link_to "Edit", edit_good_path(good), class:"btn btn-primary btn-block btn-xs", role:"button" %>
                        <%= link_to 'Destroy', good, method: :delete, data: {confirm: 'Are you sure?'}, class:"btn btn-primary btn-block btn-xs", role:"button" %>
                    <%end%>
                <%end%>
            <%end%>
        <%end%>
    <%end%>
<%end%>


