<p id="notice"><%= notice %></p>

<div class="jumbotron col-md-4 col-md-offset-4">
    <p>
      <strong>Name:</strong>
      <%= @good.name %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @good.description %>
    </p>

    <p>
      <strong>Season:</strong>
      <%= Good.seasons(true).key(@good.season.to_i).capitalize %>
    </p>

    <p>
        <%= image_tag @good.image.url(:medium), class: "thumbnail col-xs-12", data:{toggle: "modal", target:".bs-example-modal-lg"} %>
    </p>

    <%= link_to 'Edit', edit_good_path(@good), id: "edit", role:"button", class: "btn btn-default col-xs-4 col-xs-offset-1" %> &nbsp;
    <%= link_to 'Back', goods_path, id: "back", role:"button", class: "btn btn-default col-xs-4 col-xs-offset-2" %>
</div>


<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <%= image_tag @good.image.url(:original), class: "thumbnail", width: "100%" %>
        </div>
    </div>
  </div>
</div>
