// Place all the styles related to the Goods controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img.small{
  width: 100%;
  height: 50%;
}

img.medium{
  width: 300px;
  height: 300px;
}

